@import 'Body';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

//TEXT & ICONS
h2 {
  font-size: 1.2em;
  margin: 0em;
  padding-left: 2px;
}

p {
  margin: 0em;
}

.material-icons {
  cursor: pointer;
}

// COLORS
.todo-color {
  background-color: rgba(3, 169, 244, 0.3);
}

.todo-icon {
  color: rgba(3, 169, 244, 1);
}

.question-color {
  background-color: rgba(255, 235, 59, 0.3);
}

.question-icon {
  color: #FFC107;
}

.blocked-color {
  background-color: rgba(255, 152, 0, 0.3);
}

.blocked-icon {
  color: rgba(255, 152, 0, 1);
}

.icon-delete {
  color: #424242;
  transition: 0.25s;
  padding-right: 4px;
}

.icon-delete:hover {
  color: #e53935;
}

.icon-delete:active {
  color: #d32f2f;
}

.icon-delete-note {
  margin-left: auto;
  padding-right: 0px;
}

//GENERAL LAYOUT
%centerFlexRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.hide {
  display: none;
}

//GENERAL UI
input {
  height: 2em;
  width: 100%;
  font-size: 1em;
  background-color: #f5f5f5;
  border: 0px;
}

//TASKS
.add-task-container {
  width: 100%;
  @extend %centerFlexRow;
  background-color: #424242;
  height: 100px;
}

.form-add-task {
  display: flex;
  align-items: center;
}

.input-add-task {
  min-width: 400px;
  text-align: center;
  border: 0px;
  font-size: 1.2em;
  font-weight: bold;
}

.all-tasks-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2em;
}

.task-container {
  display: flex;
  flex-direction: column;
  margin: 20px;
  min-width: 30%;
  height: 100%;
  border: 1px solid #dcdcdc;
}

.task-title-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.task-title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.task-note, .task-title {
  min-height: 40px;
  padding: 5px;
}

//NOTES
.task-note {
  display: flex;
  align-items: center;
}

.task-note > p {
  padding-left: 5px;
}

.input-add-note {
  padding-left: 5px;
}

// .btn-add-note {
//   background-color: #03A9F4;
//   color: #fff;
//   border-radius: 3px;
//   padding: 3px;
//   margin-left: 5px;
// }
